{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - {{request.user.username}} | Gig Suggestions</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/offers.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="row justify-content-center mt-0" id="manage_offers">
      <section class="mp-box">
         <div class="box-row p-b-100">
            <article class="db-new-content db-offers">
               <header class="db-new-header cf">
                  <h1 class="alt">
                     View offers 
                     <span class="js-offers-count">(
                     15 Offers
                     )</span>
                  </h1>
                  <a href="/users/swap_soln_90/manage_requests">Back to Manage Requests</a>
               </header>
               <aside class="cf">
                  <span class="user-pict-80"><img src="https://fiverr-res.cloudinary.com/image/upload/t_profile_small,q_auto,f_auto/v1/attachments/profile/photo/919e8583145a237d89a306439b8944c3-1624448516805/8d75b586-ee3a-4e24-bc4f-8c6b3e21046e.jpg" alt="swap_soln_90" width="80" height="80"></span>
                  <h2 class="fs-18">My Request</h2>
                  <p>i am looking for an testing circuit diagram and the pcb diagram. for my device. 
                     that must store and send the data via api.
                  </p>
                  <ul>
                     <li class="request-item"><i class="fa fa-clock-o"></i>2
                        days
                        Delivery
                     </li>
                     <li><i class="fa fa-usd"></i>Budget: ₹433</li>
                  </ul>
               </aside>
               <div class="offers-sort cf js-offers-sort ">
                  <span class="js-sort-dropdown">
                     <div class="filter-select cf ">
                        <div class="fake-dropdown" style="visibility: visible;">
                           <a class="dropdown-toggle" data-toggle="dropdown" >recommended</a>
                           <ul class="dropdown-menu  " role="menu" style="top: -2px; width: 138px;">
                              <li>
                                 <a data-val="recommended">
                                 <span class="text-inner">recommended</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="date">
                                 <span class="text-inner">date</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="price">
                                 <span class="text-inner">price</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="delivery_time">
                                 <span class="text-inner">delivery time</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="rating">
                                 <span class="text-inner">rating</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="reviews_count">
                                 <span class="text-inner">reviews</span>
                                 </a>
                              </li>
                              <li>
                                 <a data-val="online_status">
                                 <span class="text-inner">seller online</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </span>
                  <span class="p-r-10">
                  Sort offers by
                  </span>
               </div>
               <ul class="js-offers-list">
                  <li>
                     <a href="/the_progettista/design-pcb-with-gerber-files-and-bom" target="_blank" class="photos f-slider js-offer-photos-slider" data-anchor="62ff22041f8c9d000177ebb9">
                        <div class="slider-box">
                           <div class="slider-hider" style="transition-duration: 400ms;">
                              <div class="slide"><img src="https://fiverr-res.cloudinary.com/images/t_offer_list,q_auto,f_auto/gigs/128638453/original/c1b9d98a61b563a8af865a2d8fb2cdabd71aa545/design-pcb-with-gerber-files-and-bom.png" class="gig-photo" alt=""></div>
                           </div>
                        </div>
                        <span class="rating-wrap">
                        <span class="star-rating-s9 rate-10"></span>
                        (62)
                        </span>
                     </a>
                     <div class="details-wrap">
                        <div class="price">
                           $5
                        </div>
                        <div class="seller cf">
                           <span class="user-badge-round-tiny level_two_seller"></span>
                           <span class="user-pict-50">
                           <span class="missing-image-user">t</span>
                           </span>
                           <b><a href="/the_progettista" class="name js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Seller">the_progettista</a></b>
                           <br><a href="/conversations/the_progettista?gig_request_id=62f7395fed8cc60012e1559e" class="contact js-seller-contact js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Contact"><i class="fa fa-envelope"></i>Contact me</a>
                        </div>
                        <div class="details">
                           <h6><a href="/the_progettista/design-pcb-with-gerber-files-and-bom" class="js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Gig Name">do pcb designing with gerber bom and 3d model</a></h6>
                           <p class="description js-offer-desc">
                              <span class="short-desc js-short-desc">
                              Hello,
                              We are a team of state university engineers with more than five yrs of experience in the PCB designing and manufacturing field. we are able to...
                              <a href="#" class="js-offer-see-more desc-see-more">See More</a>
                              </span>
                              <span class="long-desc js-long-desc">Hello,
                              We are a team of state university engineers with more than five yrs of experience in the PCB designing and manufacturing field. we are able to do your job and would like to discuss more
                              waiting for your reply!
                              thank you and have a great day
                              the_Progettista</span>
                           </p>
                           <ul>
                              <li>
                                 <i class="fa fa-clock-o"></i>4
                                 days
                                 Delivery
                              </li>
                           </ul>
                        </div>
                        <a href="#" class="link-blue link-remove js-remove-offer js-gtm-event-auto" data-offer-id="62ff22041f8c9d000177ebb9" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Remove offer">Remove Offer</a>
                        <form method="post" action="/payments">
                           <input name="payment_funnel_source" type="hidden" value="custom_package_from_buyer_request">
                           <input name="package_type" type="hidden" value="custom_package">
                           <input name="package_id" type="hidden" value="62ff22048b1db6001236063f">
                           <input name="gig_id" type="hidden" value="128638453">
                           <input type="hidden" name="authenticity_token" value="1667198110.nOVBJwYAFW0nyL6pFHI7GaTVpKIna2k9NRKSR+wg4oc=">
                           <input type="submit" class="btn-standard btn-green-grad js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Order custom package offer" value="Order Now">
                        </form>
                     </div>
                  </li>    
                  <li>
                     <a href="/the_progettista/design-pcb-with-gerber-files-and-bom" target="_blank" class="photos f-slider js-offer-photos-slider" data-anchor="62ff22041f8c9d000177ebb9">
                        <div class="slider-box">
                           <div class="slider-hider" style="transition-duration: 400ms;">
                              <div class="slide"><img src="https://fiverr-res.cloudinary.com/images/t_offer_list,q_auto,f_auto/gigs/128638453/original/c1b9d98a61b563a8af865a2d8fb2cdabd71aa545/design-pcb-with-gerber-files-and-bom.png" class="gig-photo" alt=""></div>
                           </div>
                        </div>
                        <span class="rating-wrap">
                        <span class="star-rating-s9 rate-10"></span>
                        (62)
                        </span>
                     </a>
                     <div class="details-wrap">
                        <div class="price">
                           $5
                        </div>
                        <div class="seller cf">
                           <span class="user-badge-round-tiny level_two_seller"></span>
                           <span class="user-pict-50">
                           <span class="missing-image-user">t</span>
                           </span>
                           <b><a href="/the_progettista" class="name js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Seller">the_progettista</a></b>
                           <br><a href="/conversations/the_progettista?gig_request_id=62f7395fed8cc60012e1559e" class="contact js-seller-contact js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Contact"><i class="fa fa-envelope"></i>Contact me</a>
                        </div>
                        <div class="details">
                           <h6><a href="/the_progettista/design-pcb-with-gerber-files-and-bom" class="js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Gig Name">do pcb designing with gerber bom and 3d model</a></h6>
                           <p class="description js-offer-desc">
                              <span class="short-desc js-short-desc">
                              Hello,
                              We are a team of state university engineers with more than five yrs of experience in the PCB designing and manufacturing field. we are able to...
                              <a href="#" class="js-offer-see-more desc-see-more">See More</a>
                              </span>
                              <span class="long-desc js-long-desc">Hello,
                              We are a team of state university engineers with more than five yrs of experience in the PCB designing and manufacturing field. we are able to do your job and would like to discuss more
                              waiting for your reply!
                              thank you and have a great day
                              the_Progettista</span>
                           </p>
                           <ul>
                              <li>
                                 <i class="fa fa-clock-o"></i>4
                                 days
                                 Delivery
                              </li>
                           </ul>
                        </div>
                        <a href="#" class="link-blue link-remove js-remove-offer js-gtm-event-auto" data-offer-id="62ff22041f8c9d000177ebb9" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Remove offer">Remove Offer</a>
                        <form method="post" action="/payments">
                           <input name="payment_funnel_source" type="hidden" value="custom_package_from_buyer_request">
                           <input name="package_type" type="hidden" value="custom_package">
                           <input name="package_id" type="hidden" value="62ff22048b1db6001236063f">
                           <input name="gig_id" type="hidden" value="128638453">
                           <input type="hidden" name="authenticity_token" value="1667198110.nOVBJwYAFW0nyL6pFHI7GaTVpKIna2k9NRKSR+wg4oc=">
                           <input type="submit" class="btn-standard btn-green-grad js-gtm-event-auto" data-gtm-category="Request Offers" data-gtm-action="Click" data-gtm-label="Order custom package offer" value="Order Now">
                        </form>
                     </div>
                  </li>             
               </ul>
               <section class="js-no-offers no-offers t-a-center m-t-50 cf hidden">
                  <h3 class="alt">You have no relevant offers<br>at the moment.</h3>
                  <p>Once you receive new offers,<br>we will let you know.</p>
                  <a href="/categories/programming-tech/electronics-engineering" class="btn-standard btn-green-grad">Explore More Services</a>
               </section>
            </article>
         </div>
      </section>
    </div>
 </div>
{% include  'Dashboard/base_buyer.html' %}
{% endblock %}